{
  "name": "{{scheme-name}}",
  "description": "Generated base16 theme",
  "version": "1",
  "theme": {
    "colors": [
      {
        "name": "base00",
        "hex": ["{{base00-hex-r}}", "{{base00-hex-g}}", "{{base00-hex-b}}"],
        "hexfull": "{{base00-hex-r}}{{base00-hex-g}}{{base00-hex-b}}",
        "rgb": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
        "dec": [{{base00-dec-r}}, {{base00-dec-g}}, {{base00-dec-b}}]
      },
      {
        "name": "base01",
        "hex": ["{{base01-hex-r}}", "{{base01-hex-g}}", "{{base01-hex-b}}"],
        "hexfull": "{{base01-hex-r}}{{base01-hex-g}}{{base01-hex-b}}",
        "rgb": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
        "dec": [{{base01-dec-r}}, {{base01-dec-g}}, {{base01-dec-b}}]
      },
      {
        "name": "base02",
        "hex": ["{{base02-hex-r}}", "{{base02-hex-g}}", "{{base02-hex-b}}"],
        "hexfull": "{{base02-hex-r}}{{base02-hex-g}}{{base02-hex-b}}",
        "rgb": [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
        "dec": [{{base02-dec-r}}, {{base02-dec-g}}, {{base02-dec-b}}]
      },
      {
        "name": "base03",
        "hex": ["{{base03-hex-r}}", "{{base03-hex-g}}", "{{base03-hex-b}}"],
        "hexfull": "{{base03-hex-r}}{{base03-hex-g}}{{base03-hex-b}}",
        "rgb": [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}],
        "dec": [{{base03-dec-r}}, {{base03-dec-g}}, {{base03-dec-b}}]
      },
      {
        "name": "base04",
        "hex": ["{{base04-hex-r}}", "{{base04-hex-g}}", "{{base04-hex-b}}"],
        "hexfull": "{{base04-hex-r}}{{base04-hex-g}}{{base04-hex-b}}",
        "rgb": [{{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}],
        "dec": [{{base04-dec-r}}, {{base04-dec-g}}, {{base04-dec-b}}]
      },
      {
        "name": "base05",
        "hex": ["{{base05-hex-r}}", "{{base05-hex-g}}", "{{base05-hex-b}}"],
        "hexfull": "{{base05-hex-r}}{{base05-hex-g}}{{base05-hex-b}}",
        "rgb": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
        "dec": [{{base05-dec-r}}, {{base05-dec-g}}, {{base05-dec-b}}]
      },
      {
        "name": "base06",
        "hex": ["{{base06-hex-r}}", "{{base06-hex-g}}", "{{base06-hex-b}}"],
        "hexfull": "{{base06-hex-r}}{{base06-hex-g}}{{base06-hex-b}}",
        "rgb": [{{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}}],
        "dec": [{{base06-dec-r}}, {{base06-dec-g}}, {{base06-dec-b}}]
      },
      {
        "name": "base07",
        "hex": ["{{base07-hex-r}}", "{{base07-hex-g}}", "{{base07-hex-b}}"],
        "hexfull": "{{base07-hex-r}}{{base07-hex-g}}{{base07-hex-b}}",
        "rgb": [{{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}}],
        "dec": [{{base07-dec-r}}, {{base07-dec-g}}, {{base07-dec-b}}]
      },
      {
        "name": "base08",
        "hex": ["{{base08-hex-r}}", "{{base08-hex-g}}", "{{base08-hex-b}}"],
        "hexfull": "{{base08-hex-r}}{{base08-hex-g}}{{base08-hex-b}}",
        "rgb": [{{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}],
        "dec": [{{base08-dec-r}}, {{base08-dec-g}}, {{base08-dec-b}}]
      },
      {
        "name": "base09",
        "hex": ["{{base09-hex-r}}", "{{base09-hex-g}}", "{{base09-hex-b}}"],
        "hexfull": "{{base09-hex-r}}{{base09-hex-g}}{{base09-hex-b}}",
        "rgb": [{{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}}],
        "dec": [{{base09-dec-r}}, {{base09-dec-g}}, {{base09-dec-b}}]
      },
      {
        "name": "base0A",
        "hex": ["{{base0A-hex-r}}", "{{base0A-hex-g}}", "{{base0A-hex-b}}"],
        "hexfull": "{{base0A-hex-r}}{{base0A-hex-g}}{{base0A-hex-b}}",
        "rgb": [{{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}],
        "dec": [{{base0A-dec-r}}, {{base0A-dec-g}}, {{base0A-dec-b}}]
      },
      {
        "name": "base0B",
        "hex": ["{{base0B-hex-r}}", "{{base0B-hex-g}}", "{{base0B-hex-b}}"],
        "hexfull": "{{base0B-hex-r}}{{base0B-hex-g}}{{base0B-hex-b}}",
        "rgb": [{{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}],
        "dec": [{{base0B-dec-r}}, {{base0B-dec-g}}, {{base0B-dec-b}}]
      },
      {
        "name": "base0C",
        "hex": ["{{base0C-hex-r}}", "{{base0C-hex-g}}", "{{base0C-hex-b}}"],
        "hexfull": "{{base0C-hex-r}}{{base0C-hex-g}}{{base0C-hex-b}}",
        "rgb": [{{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}}],
        "dec": [{{base0C-dec-r}}, {{base0C-dec-g}}, {{base0C-dec-b}}]
      },
      {
        "name": "base0D",
        "hex": ["{{base0D-hex-r}}", "{{base0D-hex-g}}", "{{base0D-hex-b}}"],
        "hexfull": "{{base0D-hex-r}}{{base0D-hex-g}}{{base0D-hex-b}}",
        "rgb": [{{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}],
        "dec": [{{base0D-dec-r}}, {{base0D-dec-g}}, {{base0D-dec-b}}]
      },
      {
        "name": "base0E",
        "hex": ["{{base0E-hex-r}}", "{{base0E-hex-g}}", "{{base0E-hex-b}}"],
        "hexfull": "{{base0E-hex-r}}{{base0E-hex-g}}{{base0E-hex-b}}",
        "rgb": [{{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}],
        "dec": [{{base0E-dec-r}}, {{base0E-dec-g}}, {{base0E-dec-b}}]
      },
      {
        "name": "base0F",
        "hex": ["{{base0F-hex-r}}", "{{base0F-hex-g}}", "{{base0F-hex-b}}"],
        "hexfull": "{{base0F-hex-r}}{{base0F-hex-g}}{{base0F-hex-b}}",
        "rgb": [{{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}}],
        "dec": [{{base0F-dec-r}}, {{base0F-dec-g}}, {{base0F-dec-b}}]
      }
    ]
  }
}
